@{
    ViewBag.Title = "Index";
}

<ul>
    <li> @Html.ActionLink("Модерировать список диагнозов", "Index", "Diagnoz")</li>
    <li> @Html.ActionLink("Модерировать список врачей", "Index", "Vrachi")</li>
    <li> @Html.ActionLink("Модерировать список возможных записей на приём", "IndexAdm", "Vrem")</li>
</ul>
