@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Контакты</h1>
    <h2>нашей поликлиники</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        <span class="label">Кабинет глав врача:</span>
        <span>45-12-99</span>
    </p>
    <p>
        <span class="label">Регистратура:</span>
        <span>11-23-53</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="b-97@bk.ru">b-97@bk.ru</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="b-97@bk.ru">b-97@bk.ru</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="b-97@bk.ru">b-97@bk.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адресс</h3>
    </header>
    <p>
        Владимир<br />
        Мира 10
    </p>
</section>