@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Добро пожаловать в нашу поликлинику,</h1>
                <h2> лучшую поликлинику во вселенной</h2>
            </hgroup>
            <p>
                Мы открыты для сотрудничества с каждым! Желаем Вам крепкого здоровья, благополучия и всего самого доброго!
            </p>
        </div>
    </section>
}
<h3>Наша позиция:</h3>
<ol class="round">
    <li class="one">
        Наша поликлиника сегодня - это крупнейшая амбулаторно-поликлиническая медицинская организация города, имеющая необходимую лечебно – диагностическую базу для полноценного обследования и лечения взрослого и детского населения.
        Основной принцип организации лечебного процесса в нашей поликлинике – это высокое качество оказания медицинской помощи, применение новых технологий в диагностике и лечебной практике, профессиональный рост, совершенствование корпоративной культуры, комфорт пребывания пациентов на амбулаторном лечении, внимательное и доброжелательное отношение к каждому пациенту.
        На сайте поликлиники Вы можете получить информацию о нашей поликлинике, регламенте работы подразделений, порядке получения различных медицинских услуг, медицинских кадрах, профилактике заболеваний и здоровому образу жизни, а также получить ответы на Ваши вопросы.

    </li>

    <li class="two">
        Мы открыты для сотрудничества с каждым! Желаем Вам крепкого здоровья, благополучия и всего самого доброго!
        <br><br><br>
    </li>
</ol>
