@{
    ViewBag.Title = "Index";
}

<ul>
    <li> @Html.ActionLink("Подать заявку на приём", "Index", "Otdelenie")</li>
    <li> @Html.ActionLink("Медкнига", "IndexPac", "Lechenie")</li>
    <li> @Html.ActionLink("Мои заявки", "IndexPac", "Zaj")</li>
</ul>